/* ***** ***** COLORS ***** ***** */
/* ***** ***** COLORS ***** ***** */
/* ***** ***** ****** ***** ***** */
/* ***** ***** ****** ***** ***** */
/* ***** ***** MIXINS ***** ***** */
/* ***** ***** MIXINS ***** ***** */
/* ***** ***** ****** ***** ***** */
/* ***** ***** ****** ***** ***** */
/* ***** ***** STYLES ***** ***** */
/* ***** ***** STYLES ***** ***** */
#main {
  height: 100%;
  text-align: center;
  background-color: #3498db; }
  #main h1 {
    top: 50%;
    margin: 0;
    color: white;
    position: relative;
    font-size: 72px;
    text-shadow: 0px 0px 10px black; }
  #main .img {
    width: 500px;
    height: 500px;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../img/under-construction.png"); }

/* ***** ***** ****** ***** ***** */
/* ***** ***** ****** ***** ***** */
